.FOOTER {
    background-color: $teal;
    color: $white;
    font-family: $body-font, sans-serif;
    font-size: 1.1rem;

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-logo {
        width: 250px;
    }

    .lastdiv {
        background-color: $teal;
        justify-content: space-between;
        padding: 0.5rem 4rem;
    }

    .navigations {
        gap: 2rem;
    }

    .icons {
        gap: 2rem;
        img {
            width: 3.5rem;
        }
    }

    .contacts {
        color: $white;
        align-items: start;
        gap: 1rem;
    }

    .contacts p {
        gap: 1rem;
    }

    p.flex {
        margin: 0.25rem;
    }

    .end {
        background: $light-teal;
        color: $white;
        padding: 0.25rem;
    }

    .footerLink {
        color: $white;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        .lastdiv {
            flex-direction: column-reverse;
            padding: 1.5rem;
            .icons {
                transform: scale(0.75);
            }
            .navigations {
                gap: 0;
                flex-direction: column-reverse;
                img {
                    width: 15rem;
                    margin: 1rem;
                    height: 1px;
                    opacity: 0.5;
                }
                .footer-logo {
                    display: none;
                }
            }
            .contacts {
                align-items: center;
                gap: 0.5rem;
                img {
                    display: none;
                }
            }
        }
    }
}
