.HEADER {
    padding: 0;
    margin: 0;
    height: 10rem;
    box-sizing: border-box;
    font-family: $body-font;
    font-size: 1.1rem;
    position: relative;
    z-index: 1;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 10rem;
        }
    }

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 901px;
        height: 60px;
        border-radius: 30px;
        box-sizing: border-box;
    }

    .nav-links {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        li {
            margin: 0 10px;
        }

        a {
            font-weight: 700;
            text-decoration: none;
            font-size: 1em;
            padding: 0.75rem 0.75rem;

            &:hover {
                border-radius: 25px;
            }
        }
    }

    &.light {
        background-color: #fff;

        .nav-container {
            color: $teal;
            background-color: #fff;
        }

        .nav-links {
            a {
                color: $teal;

                &:hover {
                    color: #fff;
                    background-color: $teal;
                    transition: background-color 0.5s;
                }
            }
        }
    }

    &.colour {
        background-color: $transparent-teal;

        .nav-container {
            color: #fff;
        }

        .nav-links {
            a {
                color: #fff;

                &:hover {
                    color: $teal;
                    background-color: #fff;
                    transition: background-color 0.5s;
                }
            }
        }
    }
}
