/* Keyframes for infinite scrolling */
@keyframes scroll {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-5%);
    }
}

.Speakers {
    text-align: center;
    background-color: $light-teal;

    h1 {
        margin-bottom: 20px;
        padding: 3rem;
        font-family: $heading-font, serif;
        font-weight: 600;
        color: $white;
        width: 100%;
    }

    .carousel {
        width: 100%;
        overflow: hidden;
        position: relative;

        .carousel-control-prev {
            top: -20%;
            left: -4%;
        }

        .carousel-control-next {
            top: -20%;
            right: -4%;
        }

        .carousel-track {
            display: flex;
            justify-content: center;
            animation: scroll 10s linear infinite;

            &:hover,
            &:active,
            &:focus {
                animation: none;
            }
            .speaker-group {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            .speaker {
                flex: 0 0 30%;
                margin: 0 1.5%;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    height: auto;
                    object-fit: cover;
                    display: block;
                }

                h2 {
                    margin: 0.75rem 0;
                }

                h3 {
                    font-style: italic;
                    margin: 0.5rem 0;
                    font-size: 1.5rem;
                }

                .profile {
                    width: 60%;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    overflow: hidden;
                }

                .company {
                    width: auto;
                    margin: 1rem 0 4rem 0;
                    padding: 0.25rem;
                    height: 2.5rem;
                    background-color: $white;
                    border-radius: 0.25rem;
                    border-color: $light-teal;
                    border-width: 1px;
                }
            }
        }

        .carousel-track::before,
        .carousel-track::after {
            content: "";
            flex: 0 0 0;
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        /* Keyframes for infinite scrolling */
        @keyframes scroll {
            0% {
                transform: translateX(15%);
            }
            100% {
                transform: translateX(-15%);
            }
        }
        .carousel {
            .carousel-control-prev {
                left: -3%;
            }

            .carousel-control-next {
                right: -3%;
            }
            .carousel-track {
                .speaker-group {
                    flex-direction: column;
                }
                .speaker {
                    flex: 0 0 100%;
                    margin: 0;
                }
            }
        }
    }
}
