@import '../components/home-carousel';

.HOME {
	font-family: $body-font, sans-serif;

	.background {
		height: max(calc(100vh + 8rem), 47rem);
		width: 100%;
		object-fit: cover;
		transform: translateY(-10rem);
		position: absolute;
		z-index: -3;
	}

	.rectangle {
		height: max(calc(100vh - 2rem), 37rem);
		width: 100%;
		z-index: -2;
		position: absolute;
	}

	.hero {
		color: $white;
		padding-top: 10rem;
		padding-right: 5rem;
		padding-left: 5rem;
		padding-bottom: calc(100vh - 47rem);
		height: max(calc(100vh - 2rem), 37rem);
		position: relative;
		z-index: 5;
		h1 {
			font-size: 5rem;
			width: 100%;
			font-weight: 600;
			height: 7rem;
			margin-bottom: 0;
		}
		h3 {
			font-family: $heading-font, serif;
			font-style: italic;
			padding-top: 3rem;
			font-weight: 300;
			height: 10rem;
			margin-bottom: 0;
		}
	}

	.introComp {
		background-color: $white;
		color: $teal;
		h1 {
			letter-spacing: normal !important;
			width: 100%;
		}
	}

	.stats {
		display: flex;
		align-items: center;
		text-align: center;
		align-items: center;
		justify-content: center;
		gap: 10rem;
		font-family: $heading-font, serif;
		background-color: $teal;
		color: $white;
		padding: 3rem 0;
		.stat {
			font-size: 6rem;
			flex-direction: column;
			p {
				font-size: 2rem;
			}
		}
	}

	.team {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		h1 {
			font-family: $heading-font, serif;
			font-weight: 600;
			padding: 3rem 0;
			width: 100%;
			margin: 0;
			color: $teal;
		}
		.team-photo {
			width: 85%;
			display: flex;
			justify-content: center;
			img {
				width: 85%;
				border: 0.75rem solid transparent;
				border-image: linear-gradient(to right, $teal, $light-teal) 1;
				box-sizing: border-box;
			}
		}
	}

	.baselinediv {
		text-align: center;
		.baseline {
			margin: 3rem 0;
		}
	}

	@media screen and (max-width: 768px) {
		position: relative;
		z-index: 0;
		.hero {
			padding-top: calc(6vh + 2.5rem);
			padding-left: 0.75rem;
			padding-right: 0.75rem;
			padding-bottom: calc(92vh - 43rem);
			h1 {
				font-size: 3.5rem;
				width: 100%;
				height: 8.5rem;
			}
		}
		.team {
			margin-bottom: 4rem;
			.team-photo {
				width: 95%;
				img {
					width: 95%;
					border: 0.5rem solid transparent;
					border-image: linear-gradient(to right, $teal, $light-teal)
						1;
				}
			}
		}
		.stats {
			flex-direction: column;
			gap: 2rem;
			.stat {
				transform: scale(0.8);
			}
		}

		.baselinediv > .baseline {
			height: 0px;
			margin: 2rem 0;
		}
	}
}
