@import '../components/leader';

.TEAM {
	display: flex;
	flex-direction: column;
	width: 100%;

	&__heading {
		text-align: center;

		img {
			width: 70%;
			padding: 1rem 0;
		}
	}

	.porContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		padding: 2rem 0;

		.TeamMemberCard {
			margin-bottom: 6rem;

			&:last-child {
				margin-bottom: 4rem;
			}
		}
	}

	.baseline {
		align-self: center;
		padding: 0 0 3rem 0;
		width: 70%;
		max-width: 1200px;
	}

	@media screen and (max-width: 768px) {
		overflow-x: hidden;

		&__heading {
			img {
				width: 90%;
			}
		}

		.porContainer {
			padding: 1rem 0;

			.TeamMemberCard {
				margin-bottom: 2rem;

				&:last-child {
					margin-bottom: 2rem;
				}
			}
		}

		.baseline {
			height: auto;
			max-height: 2px;
			padding: 0.5rem 0;
			width: 90%;
		}
	}

	// Tablet specific adjustments
	@media screen and (min-width: 769px) and (max-width: 1024px) {
		.porContainer {
			.TeamMemberCard {
				width: 80%;
			}
		}
	}
}
