@import './typography';
@import './variables';
@import './components/header';
@import './components/footer';

@import './pages/home';
@import './pages/product';
@import './pages/projects';
@import './pages/resources';
@import './pages/consulting';
@import './pages/team';
@import './pages/alumni';
@import './pages/errorpage';
@import './pages/blog-page';

* {
	margin: 0;
}

@media (max-width: 600px) {
	.baseline {
		display: none;
	}
}

@media (min-width: 1024px) and (max-width: 1600px) {
	body {
		zoom: 0.9;
	}
}

@media (min-width: 1024px) and (max-width: 1300px) {
	body {
		zoom: 0.85;
	}
}
